<!DOCTYPE html>
<html lang="en">
    <head>
        <title>SpotifyLite</title>
        <link rel="stylesheet" href="css/reset.css" />
        <link rel="stylesheet" href="css/style.css" />
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700, 800" rel="stylesheet" />
    </head>

    <body>

    <nav>
        <div>SpotifyLite</div>
    </nav>

    <h1>Sign up or sign in to upload your music.</h1>

    <!--<p>-->
        <!--Logged in as <i th:text="${username}" />-->
    <!--</p>-->

    <section>
        <div class="sectionTitle">Login</div>
        <form action="/auth/login" method="POST">
            <div>Username<input name="username" /></div>
            <div>Password<input name="password" type="password" /></div>
            <input class="button" type="submit" value="SIGN IN" />
        </form>
    </section>

    <section>
        <div class="sectionTitle">Register</div>
        <form action="/auth/register" method="POST">
            <div>Username<input name="username" /></div>
            <div>Password<input name="password" type="password" /></div>
            <input class="button" type="submit" value="SIGN UP"/>
        </form>
    </section>

    <section>
        <div class="sectionTitle">Logout</div>
        <form action="/auth/logout" method="POST">
            <input class="button" type="submit" value="LOGOUT" />
        </form>
    </section>

    </body>
</html>