<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Spotify Lite</title>
        <link rel="stylesheet" href="/css/style.css" />
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,800" rel="stylesheet" />
    </head>
    <body>

    <p th:text="'Welcome, ' + ${username} + '! Time to upload your music.'">
        Logged in as <i th:text="${username}" />
    </p>

    <div th:if="${message}">
        <h2 th:text="${message}"/>
    </div>

    <div>
        <form method="POST" enctype="multipart/form-data" action="/">
            <div>Artist: <input type="text" name="artist" /></div>
            <div>Song: <input type="text" name="song" /></div>
            <div>File to upload: <input type="file" name="file" /></div>
            <div><input class="button" type="submit" value="Upload" /></div>
        </form>
    </div>

    <div>
        <ul>
            <li th:each="file : ${files}">
                <p>
                    <a th:href="${file}" th:text="${file}" />
                </p>
                <p th:if="${file.endsWith('mp3')}">
                    <img th:src="${file}" />
                </p>
            </li>
        </ul>
    </div>
    </body>
</html>